#myVideo {
  position: fixed;
  right: 0;
  bottom: 10;
  min-height: 100%;
  min-width: 100%;
}

.card {
  width: 350px !important;
}

.content {
  position: fixed;
  top: 150px;
  left: 70%;
  right: 0;
  width: 100%;
  padding: 1px;
}

.myBtn {
  width: 200px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 19px;
  padding: 7px 21px;
  border: none;
  background-color: #4b3a3a;
  color: white;
  cursor: pointer;
}

.myBtn:hover {
  background-color: white;
  color: #000;
}
